.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Directories
.venv/
static_collected/
IKARD_LIST_APP/static/admin/
IKARD_LIST_APP/__pycache__/*
homepage/__pycache__/*
homepage/migrations/*